# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Datasets
data/raw/
data/processed/

# Trained models
models/

# macOS
.DS_Store

# MLflow local tracking
mlflow.db
mlruns/

# Local inference test images
data/sample_images/
